.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1d2f8;
}

.footer__content {
  padding: 0 40px;
}

.footer__list {
  list-style-type: none;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  padding: 0;
}

.footer__list-list {
  margin-bottom: 10px;
}

.footer__image {
  width: 50%;
  height: auto;
}

@media screen and (max-width: 580px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer__image {
    width: 100%;
    order: -1;
  }

  .footer__content {
    text-align: center;
  }
}

@media screen and (max-width: 523px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer__image {
    width: 100%;
    order: -1;
  }

  .footer__content {
    text-align: center;
  }
}
