body {
  box-sizing: border-box;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: normal;
}

@media screen and (max-width: 1024px) {
  .page {
    padding: 0 20px;
  }
}

@media screen and (max-width: 425px) {
  .page {
    padding: 0;
  }
}
