.specialist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}

.specialist__title {
  font-size: 45px;
  font-weight: bold;
  color: #6b4b7c;
}

.specialist__subtitle {
  font-family: "MascotMVB";
  font-size: 35px;

  color: #6b4b7c;
}

.specialist__subtitle-span {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
}

.specialist__list {
  list-style-type: none;
  line-height: 1.5;
}

.specialist__text {
  font-size: 20px;
  color: #bc0f9d;
  font-weight: bold;
}

.specialist__image {
  width: 40%;
}

.circulo {
  width: 400px;
  height: 400px;
  background-image: linear-gradient(to right, #6b4b7c, #bc0f9d);
  border-radius: 50%;
  margin-left: -400px;
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .circulo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .specialist__title {
    font-size: 30px;
  }

  .specialist__subtitle {
    font-size: 25px;
  }
  .circulo {
    display: none;
  }
}

@media screen and (max-width: 523px) {
  .specialist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
  }

  .specialist__content {
    text-align: center;
  }

  .specialist__image {
    width: 80%;
  }

  .circulo {
    display: none;
  }
}
