.specialist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}

.specialist__title {
  font-size: 45px;
  font-weight: bold;
  color: #6b4b7c;
}

.specialist__image {
  width: 40%;
}

/* .circulo {
  width: 100px;
  height: 100px;
  background-color: #c43ced;
  border-radius: 50%;
} */
