.we {
  margin-bottom: 100px;
}

.we__title {
  font-size: 45px;
  font-weight: bold;
  color: #6b4b7c;
  text-align: center;
}

.we__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.we__text {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  align-self: center;
}

.we__text_span {
  color: #bc0f9d;
  font-family: "MascotMVB";
  font-size: 30px;
  font-weight: bold;
}

.we__image-profesionista {
  grid-column: 2 / 4;
  width: 100%;
}

.we__image-sala {
  width: 100%;
  grid-column: 1 / 3;
}

.we__image-recibidor {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .we__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .we__title {
    font-size: 30px;
  }

  .we__image-profesionista {
    grid-column: 2 / 3;
    width: 100%;
  }

  .we__image-sala {
    width: 100%;
    grid-column: 1 / 2;
  }

  .we__image-recibidor {
    max-height: 100px;
  }
}

@media screen and (max-width: 523px) {
  .we {
    margin-bottom: 50px;
  }

  .we__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .we__title {
    margin: 0;
  }

  .we__text {
    text-align: center;
  }

  .we__image-profesionista {
    grid-column: 1 / 2;
    width: 100%;
  }

  .we__image-sala {
    grid-column: 1 / 2;
    width: 100%;
  }

  .we__image-recibidor {
    grid-column: 1 / 2;
    width: 100%;
  }
}
